html
    head
        title Profile
    body
        h1 Profile Info
        if user.local.email
            .profileInfo
                h3 Local
                p= user.local.email
                a(href="/unlink/local") Disconnect
        if user.facebook.token
            .profileInfo
                h3 Facebook
                p= user.facebook.id
                p= user.facebook.email
                p= user.facebook.name
                a(href="/unlink/facebook") Disconnect
        if user.twitter.token
            .profileInfo
                h3 Twitter
                p= user.twitter.id
                p= user.twitter.username
                p= user.twitter.displayName
                a(href="/unlink/twitter") Disconnect
        if user.google.token
            .profileInfo
                h3 Google
                p= user.google.id
                p= user.google.email
                p= user.google.displayName
                a(href="/unlink/google") Disconnect
        .navigation
            a(href="/") Home